<app-header></app-header>
<main>
    <app-maps></app-maps>
    <section>
        <h2> También puedes escribirnos </h2>
        <!-- TODO: Añadir dirección de correo -->
        <form>
            <label for="name">
                <mat-icon> person </mat-icon>
            </label>
            <input type="text" name="name" id="name" placeholder="Nombre">
            <label for="email">
                <mat-icon> email </mat-icon>
            </label>
            <input type="email" name="email" id="email" placeholder="Correo electrónico">
            <label for="subject">
                <mat-icon> edit </mat-icon>
            </label>
            <input type="text" name="subject" id="subject" placeholder="Asunto">
            <label for="textarea"><mat-icon>chat_bubble</mat-icon></label>
            <textarea name="message" maxlength="750" rows="6" id="textarea" placeholder="Mensaje"></textarea>
            <input type="reset" value="Borrar">
            <input type="submit" value="Enviar">
        </form>
    </section>
</main>
<app-footer></app-footer>