@import '/src/styles.scss';

div {
    position: relative;
    display: inline-block;
}

img {
    display: block;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    
    @media (max-width:1550px) {
        width: 300px;
    }

    @media (max-width:1250px) {
        width: 450px;
    }

    @media (max-width:950px) {
        width: 375px;
    }

    @media (max-width:800px) {
        width: 300px;
    }

    @media (max-width:650px) {
        width: 400px;
    }

    @media (max-width:450px) {
        width: 250px;
    }
}

p {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    margin: 0;
    padding: 10px;
    color: white;
    background: $primary-color5050;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    display: flex;
    align-items: flex-end;
}

div:hover p {
    opacity: 0;
}