<footer>
    <section>
        <h1> {{ "capital.contact" | translate }} </h1>
        <a href="https://maps.app.goo.gl/adyCuDRempVih9gp9" target="_blank"><i class="fa-solid fa-location-dot" style="color: #fff"></i> Camino de los Hornillos, 30 - 47017. Valladolid </a>
        <a href="tel:+34639174882"><i class="fa-solid fa-phone" style="color: #fff"></i> +34 639 174 882 </a>
        <a href="mailto:laolmaenvalladolid@gmail.com"><i class="fa-solid fa-envelope" style="color: #fff"></i> laolmaenvalladolid&#64;gmail.com </a>
    </section>
    <section>
        <h1> {{ "capital.RRSS" | translate }} </h1>
        <a href="https://www.facebook.com/groups/513599828775073/" target="_blank">
            <i class="fa-brands fa-facebook" style="color: #fff;"></i> 
            Facebook
        </a>
        <a href="https://www.instagram.com/laolma_asoc.medioambiental/" target="_blank">
            <i class="fa-brands fa-instagram" style="color: #fff;"></i> 
            Instagram
        </a>
        <span></span>
    </section>
    <section>
        <h1> {{ 'capital.aboutUs' | translate }} </h1>
        <h2> La Olma Asoc. Medioambiental </h2>
        <app-languages></app-languages>
    </section>
</footer>