<nav class="navbar navbar-expand-lg">
    <a class="m-2" routerLink="/home">
        <img src="/assets/images/La olma.webp" [alt]="'navbar.alterText' | translate ">
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <mat-icon> menu </mat-icon>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li><a routerLink="/home"> {{ "navbar.title1" | translate }}</a></li>
            <li><a routerLink="/la_Olma">LA OLMA</a></li>
            <li><a routerLink="/activities"> {{ "navbar.title2" | translate }}</a></li>
            <li><a routerLink="/collaborate"> {{ "navbar.title3" | translate }}</a></li>
            <li><a routerLink="/contact"> {{ "navbar.title4" | translate }}</a></li>
        </ul>  
    </div>
</nav>  