@import '/src/styles.scss';

header {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    
    background-color: $primary-color1100;
    height: 80px;
    padding: 30px;
    text-align: center;
}

img {
    width: 100%;
    cursor: pointer;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    
    align-items: center;
    list-style: none;
    text-align: center;
}

a {
    color: black;
    cursor: default;
    font-size: 17px;
    text-decoration: none;
}

span {
    font-size: 22px;

    &:hover, 
    &:active {
        color: white;
        cursor: pointer;
        transition: color 0.5s;
    }
}

.sidebar {
    font-size: 20px;
    text-align: right;
    
    display: block;
    margin: 0;
    width: 90%;
}

mat-icon {
    display: none;
}

@media (max-width: 1200px) {
    header {
        grid-template-columns: 250px 1fr;
    }

    ul {
        margin-left: calc(99vw - 500px);
    }

    .hideOnMobile {
        display: none;
    }

    mat-icon {
        display: block;
    }
}

@media (max-width: 500px) {
    header {
        grid-template-columns: 1fr;
        margin-top: 0;
    }

    ul {
        margin-left: 0;
    }

    img {
        display: none;
    }

    header > a {
        display: none;
    }

    #menu,
    .sidebar {
        text-align: left;
    }
}