<header>
    <img src="/assets/images/La olma.webp" alt="Logotipo de la asociación">
    <ul class="sidebar" *ngIf="sidebar">
        <li><mat-icon (click)="changeSidebar()" > close </mat-icon></li>
        <li><a routerLink="/home"><span> {{ "capital.home" | translate }} </span></a></li>
        <li><a routerLink="/la_Olma"><span> LA OLMA </span></a></li>
        <li><a routerLink="/activities"><span> {{ "capital.activities" | translate }} </span></a></li>
        <li><a routerLink="/collaborate"><span> {{ "capital.collaborate" | translate }} </span></a></li>
        <li><a routerLink="/contact"><span> {{ "capital.contact" | translate }} </span></a></li>
    </ul>
    <ul *ngIf="!sidebar">
        <li class="hideOnMobile"><a routerLink="/home"><span> {{ "capital.home" | translate }} </span></a></li>
        <li class="hideOnMobile"><a routerLink="/la_Olma"><span> LA OLMA </span></a></li>
        <li class="hideOnMobile"><a routerLink="/activities"><span> {{ "capital.activities" | translate }} </span></a></li>
        <li class="hideOnMobile"><a routerLink="/collaborate"><span> {{ "capital.collaborate" | translate }} </span></a></li>
        <li><a routerLink="/contact"><span> {{ "capital.contact" | translate }} </span></a></li>
        <mat-icon (click)="changeSidebar()"> menu </mat-icon>
    </ul>
</header>