@import 'src/styles.scss';

section:nth-child(1) {
    background: url("/assets/images/Localizacion.webp");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;

    @media (max-width: 1200px) {
        background: url("/assets/images/Localizacion2.webp");
    }

    @media (max-width: 600px) {
        background: url("/assets/images/Localizacion3.webp");
    }
}

a {
    color: #595959;
    text-decoration: none;
    font-size: 18px;

    &:hover {
        color: $primary-color3100;
        transition: color 0.5s;
    }

    @media (max-width: 600px) {
        font-size: 16px;
    }
}

div {
    display: grid;
    background-color: white;
    position: relative;
    top: 25%;
    left: 65%;
    width: 25vw;
    padding: 10px 30px 30px;
    row-gap: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);

    @media (max-width: 1200px) {
        left: 50%;
        width: 35vw;
    }

    @media (max-width: 900px) {
        left: 45%;
        width: 45vw;
        padding: 20px;
    }

    @media (max-width: 600px) {
        left: 10%;
        width: 75vw;
    }

    @media (max-width: 400px) {
        left: 5%;
    }
}