<section>
    <div class="pt-4">
        <h1> {{ "maps.title" | translate }} </h1>
        <a href="https://maps.app.goo.gl/adyCuDRempVih9gp9" target="_blank"><i class="fa-solid fa-location-dot"></i> Camino de los Hornillos, 30 - 47017. Valladolid </a>
        <a href="tel:+34639174882"><i class="fa-solid fa-phone"></i> +34 639 174 882 </a>
        <a href="mailto:laolmaenvalladolid@gmail.com"><i class="fa-solid fa-envelope"></i> laolmaenvalladolid&#64;gmail.com </a>
        <a href="https://wa.me/639174882" target="_blank"   ><i class="fa-brands fa-whatsapp"></i> {{ "maps.link" | translate }} </a>
    </div>
</section>