label, select {
    color: white;
    margin: 1vh 0;
}

select {
    cursor: pointer;
    font: inherit;    
    
    appearance: none;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.293);
    border-radius: 5px;
    padding: 1rem 0 1rem 1rem;
    width: 70%;

    &:hover {
        box-shadow: 0 0 1em 0 rgba(255, 255, 255, 0.2); 
    }
}

option {
    color: black;
    background: white;
}