<section *ngFor="let event of pastEvents; let i = index">
    <article [ngClass]="{'odd': i % 2 === 0, 'even': i % 2 !== 0}">
        <h1> {{ event.titulo }} </h1>
        <p> {{ event.descripcion }} <br><br>
            <strong> {{ "pastEvents.type1" | translate }}: </strong> {{ event.date?.day }} de {{ event.date?.monthName }} de {{ event.date?.year }} <br><br>
            <strong> {{ "pastEvents.type2" | translate }}: </strong> {{ event.participantes }} <br><br>
            <strong> {{ "pastEvents.type3" | translate }}: </strong> {{ event.lugar }} </p>
         <!-- <img [src]="event.imagenUrl" alt="Imagen">  -->
        <img src="assets/images/Plantación en Pinel de abajo.webp" alt="Imagen">
        <hr>
    </article>  
</section>