@import 'src/styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2.8vh 10vw;
}

div {
    margin: 0 10vw;
}

h1 {
    margin-bottom: 0;
    font-size: 70px;
    font-family: "Playwrite HR Lijeva", cursive;
}

hr {
    margin: 0;
    width: 20vw;
    height: 5px;
    background: linear-gradient(90deg, $secondary-color6100, #008BA1);
}

a {
    font-size: 26px;
}

img {
    justify-self: center;
    width: 380px;
}