@import 'src/styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4vh 10vw;
}

div {
    margin: 0 10vw;
}

h1 {
    margin-bottom: 0;
    font-size: 70px;
    font-family: "Playwrite HR Lijeva", cursive;
}

hr {
    margin: 0;
    width: 20vw;
    height: 5px;
    background: linear-gradient(90deg, $secondary-color6100, #008ba1);
}

img {
    justify-self: center;
    width: 380px;
}

a {
    font-size: 26px;
    color: black;
    padding: 16px;
    text-decoration: none;
    background-image: radial-gradient(at 100% 0, #5adaff, #5468ff);
    border-radius: 6px;
    box-shadow: 
        rgba(45, 35, 66, .4) 0 2px 4px,
        rgba(45, 35, 66, .3) 0 7px 13px -3px,
        rgba(58, 65, 111, .5) 0 -3px 0 inset;
}
  
a:hover {
    box-shadow: 
        rgba(45, 35, 66, .4) 0 4px 8px, 
        rgba(45, 35, 66, .3) 0 7px 13px -3px, 
        #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}
  
a:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}