<app-navbar></app-navbar>
<main>
    <section>
        <h1> {{ "laOlma.title1" | translate }} </h1>
        <img src="/assets/images/Plantacion.webp" [alt]="'laOlma.alterText1' | translate" id="left">   
            <p [innerHTML]="'laOlma.sentence1' | translate">  </p>   

            <h2> {{ "laOlma.subtitle1" | translate }} </h2>    
            <p [innerHTML]="'laOlma.sentence2' | translate"></p>    
            <img src="/assets/images/Pinar de Antequera 2.webp" [alt]="'laOlma.alterText2' | translate" id="right">

            <h2> {{ "laOlma.subtitle2" | translate }} </h2>    
            <p [innerHTML]="'laOlma.sentence3' | translate"></p>
    
            <h2> {{ "laOlma.subtitle3" | translate }} </h2>    
            <p [innerHTML]="'laOlma.sentence4' | translate"></p>
    </section>
    <section>
        <h1> {{ "laOlma.title2" | translate }} </h1>
        <article>
            <app-image-card 
                [text]="'imageCard.text1' | translate"
                image="/assets/images/Desembocadura del esgueva.webp"
                [alterText]="'imageCard.alterText1' | translate"
                id="card1">
            </app-image-card>
            <app-image-card 
                [text]="'imageCard.text2' | translate"
                image="/assets/images/Nido de pajaros.webp"
                [alterText]="'imageCard.alterText2' | translate"
                id="card2">
            </app-image-card>
            <app-image-card 
                [text]="'imageCard.text3' | translate"
                image="/assets/images/Charla de grupo.webp"
                [alterText]="'imageCard.alterText3' | translate"
                id="card3">
            </app-image-card>
            <app-image-card 
                [text]="'imageCard.text4' | translate"
                image="/assets/images/Rio Pisuerga.webp"
                [alterText]="'imageCard.alterText4' | translate"
                id="card4">
            </app-image-card>
            <app-image-card 
                [text]="'imageCard.text5' | translate"
                image="/assets/images/Bajo un pino.webp"
                [alterText]="'imageCard.alterText5' | translate"
                id="card5">
            </app-image-card>
            <app-image-card 
                [text]="'imageCard.text6' | translate"
                image="/assets/images/Charla tierra de campos.webp"
                [alterText]="'imageCard.alterText6' | translate"
                id="card6">
            </app-image-card>
        </article>
    </section>
</main>
<app-footer></app-footer>