<app-header></app-header>
<main>
    <section>
        <h1> ¿Quiénes somos? </h1>
        <img src="/assets/images/424687795_10220304020785244_1831720899513419305_n (1).webp" alt="Plantación de árboles">
        <div> 
            <h3> ¿Quiénes somos? </h3>    
            <p> Somos una <b> Asociación Medioambiental </b> sin ánimo de lucro, formada por un grupo diverso de voluntarios apasionados y 
            comprometidos con la protección y preservación del medio ambiente. Nuestra comunidad de voluntarios dedica su tiempo 
            y esfuerzo a promover la <b> sostenibilidad, el respeto por la naturaleza y la conservación de los ecosistemas, </b> 
            trabajando juntos para hacer una diferencia positiva en nuestro entorno y en la vida de futuras generaciones. </p>   

            <h3> ¿A qué nos dedicamos? </h3>    
            <p> Nuestra labor es el estudio, la conservación y divulgación del medio ambiente. Nos esforzamos por investigar y 
            <b> comprender </b> los sistemas naturales que nos rodean, <b> implementar estrategias </b> efectivas para proteger y restaurar el medio ambiente, 
            y <b> educar </b> a la comunidad sobre la importancia de preservar nuestro planeta. 
            Centramos nuestra actividad tanto en Valladolid como en toda su provincia, y nuestra premisa fundamental es ser 
            profundamente respetuosos con el entorno. Nos esforzamos por actuar de manera que no alteremos el equilibrio natural, 
            dedicándonos exclusivamente a <b> cuidarlo y respetarlo. </b></p>    

            <h3> Horarios </h3>    
            <p> Nuestras actividades se llevan a cabo todos los <b> sábados por la mañana</b>, a excepción de los meses de verano, 
            y están abiertas tanto para nuestros socios como para cualquier persona interesada en acompañarnos. No es necesario 
            ser socio para participar; cualquier individuo que comparta nuestro compromiso con el medio ambiente y desee contribuir 
            a nuestras acciones es bienvenido. Estas jornadas son una oportunidad para aprender, colaborar y disfrutar del entorno natural 
            mientras trabajamos juntos para cuidarlo y protegerlo. </p>
    
            <h3> ¿Qué buscamos? </h3>    
            <p> Estamos buscando voluntarios para unirse a nuestras actividades, las cuales se desarrollan en un <b> ambiente sano y divertido </b> donde tú también puedes formar parte. Invitamos a todas las personas interesadas a participar, todas las actividades son aptas
            para <b> todas las edades </b> y <b> cualquier condición física. </b> Únete a nosotros y contribuye a la protección del medio 
            ambiente mientras disfrutas de una experiencia enriquecedora y gratificante en compañía de otros amantes de la naturaleza. </p>
        </div>
        <img src="/assets/images/433109461_10234441912970283_5747454396082852298_n.webp" alt="Caminata" id="bottom">
    </section>
    <section>
        <h1> ¿Qué hacemos? </h1>
        <article>
            <app-image-card 
                text="Estudio, conservación y divulgación del medio ambiente."
                image="/assets/images/FOTO-EVENTO3.webp"
                alterText="Imagen de grupo">
            </app-image-card>
            <app-image-card 
                text="Protección de flora y fauna autóctona, paisaje y aguas superficiales."
                image="/assets/images/FOTO-EVENTO3.webp"
                alterText="Imagen de grupo">
            </app-image-card>
            <app-image-card 
                text="Educación ambiental y divulgación del patrimonio natural."
                image="/assets/images/FOTO-EVENTO3.webp"
                alterText="Imagen de grupo">
            </app-image-card>
        </article>
        <article>
            <span></span>
            <app-image-card 
                text="Protección del patrimonio natural, histórico y arqueológico."
                image="/assets/images/FOTO-EVENTO3.webp"
                alterText="Imagen de grupo">
            </app-image-card>
            <app-image-card 
                text="Desarrollo de programas de voluntariado ambiental y conservación."
                image="/assets/images/FOTO-EVENTO3.webp"
                alterText="Imagen de grupo">
            </app-image-card>
            <app-image-card 
                text="Colaboración con otras organizaciones para alcanzar objetivos comunes."
                image="/assets/images/FOTO-EVENTO3.webp"
                alterText="Imagen de grupo">
            </app-image-card>
        </article>
    </section>
</main>
<app-footer></app-footer>