@import 'src/styles.scss';

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 7vh;
}

h1 {
    grid-column: 1 / -1;
    text-align: center;
    padding: 20px;

    font-size: 40px;
    background-color: $primary-color3100;
    color: white;
}

img {
    width: 300px;
}

a, p {
    justify-self: center;
}

a:hover {
    opacity: 0.75;
}