<h1> EMPRESAS COLABORADORAS </h1>
<section>
    <a href="https://ekiwimovilidad.es">
        <img src="assets/images/Ekiwi.webp" alt="Logotipo de ekiwi">
    </a>
    <a href="https://www.iberdrola.es">
        <img src="assets/images/Iberdrola.webp" alt="Logotipo de iberdrola">
    </a>
    <a href="https://www2.cruzroja.es">
        <img src="assets/images/Cruz roja.webp" alt="Logotipo de cruz roja">
    </a>
    <p>
        <img src="assets/images/Lua_imprenta.webp" alt="Logotipo de Lua imprenta digital">
    </p>
    <a href="https://www.instagram.com/saboragranelvalladolid/?hl=es">
        <img src="assets/images/Sabor a granel.webp" alt="Logotipo de sabor a granel">
    </a>
    <a href="https://elbarcodelarubia.com">
        <img src="assets/images/El barco de la rubia.webp" alt="Logotipo de el barco de la rubia">
    </a>
    <a href="https://fundacionpersonas.es">
        <img src="assets/images/Fundación personas.webp" alt="Logotipo de fundación personas">
    </a>
</section>