<h1> {{ "partnerCompanies.title" | translate  }}</h1>
<section>
    <a href="https://ekiwimovilidad.es">
        <img src="assets/images/Ekiwi.webp" [alt]="'partnerCompanies.alterText1' | translate">
    </a>
    <a href="https://www.iberdrola.es">
        <img src="assets/images/Iberdrola.webp" [alt]="'partnerCompanies.alterText2' | translate">
    </a>
    <a href="https://www2.cruzroja.es">
        <img src="assets/images/Cruz roja.webp" [alt]="'partnerCompanies.alterText3' | translate">
    </a>
    <p>
        <img src="assets/images/Lua_imprenta.webp" [alt]="'partnerCompanies.alterText4' | translate">
    </p>
    <a href="https://www.instagram.com/saboragranelvalladolid/?hl=es">
        <img src="assets/images/Sabor a granel.webp" [alt]="'partnerCompanies.alterText5' | translate">
    </a>
    <a href="https://elbarcodelarubia.com">
        <img src="assets/images/El barco de la rubia.webp" [alt]="'partnerCompanies.alterText6' | translate">
    </a>
    <a href="https://fundacionpersonas.es">
        <img src="assets/images/Fundación personas.webp" [alt]="'partnerCompanies.alterText7' | translate">
    </a>
</section>