@import '/src/styles.scss';

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 3vh;
}

h1 {
    text-align: center;
    padding: 20px;

    font-size: 40px;
    background-color: $primary-color3100;
}

img {
    width: 300px;
}

a, p {
    justify-self: center;
}

a:hover {
    opacity: 0.75;
}

@media (max-width:1200px) {
    img {
        width: 250px;
    }
}

@media (max-width:1050px) {
    section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:700px) {
    section {
        grid-template-columns: 1fr 1fr 1fr;
    }

    h1 {
        font-size: 30px;
        padding: 10px;
    }

    img {
        width: 125px;
    }
}

// TODO: Meter carrusel
@media (max-width:550px) {
    section {
        grid-template-columns: 1fr 1fr;
        row-gap: 1vh;
    }
    
    h1 {
        font-size: 24px;
    }
}