@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import '/src/styles.scss';

h1 {
    font-size: 50px;
    font-family: "Whisper", cursive;
    margin: 20px 0;
    text-align: center;
}

img {
    width: 450px;
}

a {
    color: #474747;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.mediumShot {
    display: none;
}

@media (max-width: 1250px) {
    h1 {
        font-size: 40px;
    }

    img {
        width: 325px;
    }
}

@media (max-width:800px) {
    h1 {
        margin: 0;
        text-align: left;
    }

    .generalShot {
        display: none;
    }

    .mediumShot {
        display: block;
    }
}

@media (max-width:500px) {
    img {
        width: 250px;
    }

    h1 {
        font-size: 35px;
    }

    a {
        font-size: 16px;
    }
}