<h1> Nuestro socio de honor </h1>
<article>
    <img src="assets/images/Socio de honor.jpg" alt="Fotografía del socio de honor de La Olma">
    <div>
        <p> Naturalista, escritor, periodista y director editorial. </p>

        <p> Joaquín Araujo es un hombre <u>apasionado por la hospitalidad</u>, tanto la que recibe como la que 
            ofrece y comparte con los demás. </p>

        <p> Para Joaquín, <b>la belleza está en lo simple y lo natural</b>.<br>Para él, estas tres cosas: <u>la naturaleza, la poesía y la comida</u> 
            representan las formas más puras de belleza. </p>

        <p> Su hogar es una verdadera expresión de su carácter abierto y generoso. No tiene llave, y más de 
            3.000 personas pueden dar fe de haber encontrado en su casa un <b>refugio acogedor.</b></p>

        <p> Se ha propuesto la meta de convertirse en un <b>"Fundador de bosques"</b>. Y es que hasta ahora <u>
            ha plantado personalmente 27.500 árboles</u> y ha promovido <u>la plantación de un millón y medio más
            </u>, gracias a su colaboración con instituciones como <i> Caja Madrid, la CAM, el Ayuntamiento de 
            Fuenlabrada y Correos de España. </i></p>

        <p> Enamorarse de la gente y de la naturaleza es, para Joaquín, la misma cosa: <b>un acto de entrega 
            total.</b></p>
    </div>
    <div id="triangle"></div>
</article>
<p> Joaquín Araújo </p>