<section>
    <h1> Últimos eventos </h1>
    <article *ngFor="let event of lastEvents">
        <!-- <img [src]="event.imageUrl" alt="Imagen del evento"> -->
        <img src="../../../assets/images/419725296_10234112509455401_5562811784801490426_n (1).webp" alt="Imagen del evento">
        <div>
            <p> {{ event.date }} </p>
            <p> {{ event.text }}<span *ngIf="event.seeMore">...</span><br><a routerLink="/activities" *ngIf="event.seeMore" class="seeMore"> ver más...</a></p>
        </div>
    </article>
    <a routerLink="/activities"> Ver más actividades </a>
</section>