<section>
    <h1> Últimos eventos </h1>
    <article>
        <img src="/assets/images/FOTO-EVENTO1.webp" alt="Foto del evento 1">
        <div>
            <p> 16 de marzo de 2024 </p>
            <p> Conocimiento de la historia de la Fuente El Sol y recorrido por el parque de la mano de la Asociación Los Comuneros (Valladolid).  </p>
        </div>
    </article>
    <article>
        <img src="/assets/images/FOTO-EVENTO2.webp" alt="Foto del evento 2">
        <div>
            <p> 23 de marzo de 2024 </p>
            <p> Recogida de residuos en el tramo del Canal del Duero próximo al Polígono San Cristóbal. </p>
        </div>
    </article>
    <article>
        <img src="/assets/images/FOTO-EVENTO3.webp" alt="Foto del evento 3">
        <div>
            <p> 6 de abril de 2024 </p>
            <p> Plantación en las Laderas de Piñel de Abajo y reconstrucción de un chozo de pastor con la Asociación el Prao de Luyas.  </p>
        </div>
    </article>
    <a routerLink="/activities"> Ver más actividades </a>
</section>