<app-header></app-header>
<main>
    <h1> ACTIVIDADES </h1>
    <section>
        <p> A continuación, se detallan las actuaciones realizadas por el grupo Medioambiental
            La Olma en el año 2024. </p>
        <p> Nuestras actividades van encaminadas especialmente a la divulgación y la
            educación en el respeto y la conservación de los entornos naturales que nos
            rodean. Para ello, contamos con la ayuda de nuestros socios, voluntarios y
            colaboradores que participan activamente en las actividades. </p>
    </section>
    <h2> FUTUROS EVENTOS </h2>
    <app-future-events></app-future-events>
    <h2> EVENTOS PASADOS </h2>
    <app-past-events></app-past-events>
</main>
<app-footer></app-footer>