<app-header></app-header>
<main>
    <section>
        <article>        
            <h1> Hazte socio </h1>
            <p> Con tu cuota, nos ayudas a crecer y a financiar los gastos de nuestras actividades y el material necesario </p>
            <h3> Cuotas anuales: </h3>
            <ul>
                <li> 20€/año cuota general </li>
                <li> 10€/año (jóvenes de 17 a 27 años) </li>
                <li> 5€/año niños (hasta 16 años) </li>
            </ul>
            <h3> Datos requeridos </h3>
            <ul>
                <li> Nombre y apellidos </li>
                <li> Número de teléfono </li>
                <li> Correo electrónico </li>
            </ul>
        </article>
        <h1> Formas de pago </h1>
        <article>
            <h4> Transferencia bancaria </h4>
            <img src="assets/images/Tarjeta.png" alt="Pago con tarjeta">
            <p> Cuenta: ES04 3035 0273 2827 3003 6357</p>
            <p> Concepto: Nombre y apellidos </p>
        </article>
        <article>
            <h4> Pago en mano </h4>
            <img src="assets/images/Pagoenmano.png" alt="Pago en mano">
            <a href="https://wa.me/639174882"><i class="fa-brands fa-whatsapp"></i> Contáctanos por Whatsapp 639 174 882 (Ana) </a>
        </article>
        <article>
            <h4> Pago por bizum </h4>
            <img src="assets/images/Bizum.png" alt="Pago por bizum">
            <p> Envíanos un bizum al 615 192 105 (Ángel) </p>
        </article>
    </section>
    <section>
        <h1> Nuestro socio de honor </h1>
        <img src="assets/images/Socio de honor.jpg" alt="Fotografía del socio de honor de La Olma">
    </section>
    <section>
        <h1> Empresas colaboradoras </h1>
        <a href="https://ekiwimovilidad.es"><img src="assets/images/Ekiwi.jpg" alt="Logotipo de ekiwi">Ekiwi</a>
        <a href="https://www.iberdrola.es"><img src="assets/images/Iberdrola.png" alt="Logotipo de iberdrola">Iberdrola</a>
        <a href="https://www2.cruzroja.es"><img src="assets/images/Cruz roja.png" alt="Logotipo de cruz roja">Cruz roja</a>
        <p><img src="assets/images/Lua_imprenta.png" alt="Logotipo de Lua imprenta digital">Lua imprenta digital</p>
        <a href="https://www.instagram.com/saboragranelvalladolid/?hl=es"><img src="assets/images/Sabor a granel.png" alt="Logotipo de sabor a granel">Sabor a granel</a>
        <a href="https://elbarcodelarubia.com"><img src="assets/images/El barco de la rubia.png" alt="Logotipo de el barco de la rubia">El barco de la rubia</a>
        <a href="https://fundacionpersonas.es"><img src="assets/images/Fundación personas.png" alt="Logotipo de fundación personas">Fundación personas</a>
    </section>
</main>
<app-footer></app-footer>