<app-navbar></app-navbar>
<main>
    <section>
        <article>
            <h1> {{ 'collaborate.title1' | translate }} </h1>
            <p> {{ 'collaborate.sentence1' | translate }} </p>
            <h2> {{ 'collaborate.subtitle1' | translate }} </h2>
            <ul>
                <li> {{ 'collaborate.fee1' | translate }} </li>
                <li> {{ 'collaborate.fee2' | translate }} </li>
                <li> {{ 'collaborate.fee3' | translate }} </li>
            </ul>
            <h2> {{ 'collaborate.subtitle2' | translate }} </h2>
            <ul>
                <li> {{ 'collaborate.data1' | translate }} </li>
                <li> {{ 'collaborate.data2' | translate }} </li>
                <li> {{ 'collaborate.data3' | translate }} </li>
            </ul>
        </article>
        <article>
            <app-honorary-member></app-honorary-member>
        </article>
    </section>
    <app-pay-methods></app-pay-methods>
    <app-partner-companies></app-partner-companies>
</main>
<app-footer></app-footer>