<app-header></app-header>
<main>
    <section>
        <article>
            <h1> Hazte socio </h1>
            <p> Con tu cuota, nos ayudas a crecer y a financiar los gastos de nuestras actividades y el material necesario </p>
            <h2> Cuotas anuales: </h2>
            <ul>
                <li> 20€/año cuota general </li>
                <li> 10€/año (jóvenes de 17 a 27 años) </li>
                <li> 5€/año niños (hasta 16 años) </li>
            </ul>
            <h2> Datos requeridos </h2>
            <ul>
                <li> Nombre y apellidos </li>
                <li> Número de teléfono </li>
                <li> Correo electrónico </li>
            </ul>
        </article>
        <article>
            <app-honorary-member></app-honorary-member>
        </article>
    </section>
    <app-pay-methods></app-pay-methods>
    <app-partner-companies></app-partner-companies>
</main>
<app-footer></app-footer>